
  body {
    
    background-color: #DDDDDD;
  }

  footer {
    width: 100%;
    height: 155px;
    background-color: #003049;
    padding: 10px;
    text-align: right;
  }

  #foot {
    padding-top: 30px;
    width: 100%;
    text-align: center;
  }

  #top {
    text-align: left;
  }

  img {
    border: 1px black solid;
  }

  #made {
    margin-top: 10px;
    text-align: center;
    color: #CCD6DD;
  }

  .jumbotron {
    background-color: #003049;
  }

  .col-sm-4 {
    /*border-radius: 25px;*/
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .rub {
    color: white;
  }

  #icon {
      font-size: 35px;
  }

  #icon2 {
    font-size: 18px;
  }

  a{
    color: silver;
    }

  a:hover {
    color: #66757F;
  }

  #c1 {
    font-size: 14px;
    background-color: #F58735;
  }

  #c2 {
    font-size: 14px;
  }

  #c3 {
    font-size: 14px;
    background-color: #999FAD;
  }

  #white-txt {
    color: white;
  }

  .text-muted {
      
      color: white;
  }

  #info {
    color: white;
    font-size: 14px;
  }

  #per-txt {
    color: silver;
    font-size: 18px;
    font-family: 'Chilanka', cursive;
  }

  #per-txt-icon {
    text-align: right;
    color: silver;
    font-size: 16px;
  }

  ul {
    list-style: none;
  }